@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    display: none; 
}

.custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
